
.Wrapper{
    position: absolute;
    overflow:hidden;
    margin: 3%;
    margin-top: 7%;
    height: 100%;
    width: 100%;
    font: 300 30px 'Franklin Gothic Medium';
}

.canvas{
    @apply rounded-xl shadow-lg border-[3px] border-black;
}

.label{
    width: fit-content;
}