
.Wrapper{
    position: absolute;
    overflow:hidden;
    margin: 3%;
    margin-top: 7%;
    height: 100%;
    width: 100%;
    font: 300 30px 'Franklin Gothic Medium';
}

.canvas{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    border: 3px solid #080f0f;
}

.label{
    width: fit-content;
}